*{
    box-sizing: border-box;
}
.navbar{
    position: relative;
    width: 90%;
    height: 60px;
    background-color: #000;
    color: #fff;
    margin: 10px auto; /*this will allow us to center the navbar even after changing the width of the navbar and makes it responsive */
}
.navbar:after{
   content: "";
   display: table;
   clear: both;
}
.navlinks{
    list-style: none;
    margin: 0;
    padding: 0;
}
.navlinks li{
    float: left;
    margin: 5px 5px;
    padding: 5px;
}
.navlinks li:hover{
    background-color: red;
}
.navlinks li a{
    display: block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font: 1em;
    padding: 5px;
}
.logo{
    float: right;
    margin: 10px 15px;
    font-size: 2em;
    color: white;
    margin: 5px 30px;
}
.barMenu{
    float: left;
    display: none;
    margin: 10px 15px;
    font-size: 2em;
    cursor: pointer;
}
@media screen and (max-width:900px){
    body{
        background-color: aqua;
    }
    .logo{
        font-size: 1.5em;
        padding: 10px;
    }
    .navlinks li a{
       font-size: 1em;
    }
    .navlinks li{
        margin: 5px auto;
        padding: 10px;
    }
}

@media screen and (max-width:700px){
    body{
        background: blue;
    }
    .navlinks li{
        width: 100%;
        margin: 0 !important;
        background-color: black;
    }
    .barMenu{
        display: block;
    }
    .navlinks{
        display: none;
    }
    .navbar{
        width: 100%;
    }
    .logo{
        width: 100%;
        padding: 5px;
        margin: auto;
        background-color: black;
    }
}